/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/05/2020, 11:37:27
    Author     : Marcelo
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

#header {
    background-color: #a5adbb;
    height: 150px;
    min-height: 120px;
}

#body {
    background-color: #f5f5f5;
    flex-grow: 1;
    display: flex;
}

#menu {
    background-color: #b3bac5;;
    font-size: 25px;
    padding-top: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
}

.button {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3bac5;;
    margin: 10px 0;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.button:hover {
    margin-left: 25px;
    box-shadow: 4px 4px 8px #000000;
}

#content {
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}