<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <servlet-class>servlet.CadastroClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <servlet-class>servlet.CadastroProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroUnidadeServlet</servlet-name>
        <servlet-class>servlet.CadastroUnidadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <servlet-class>servlet.CadastroFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProdutoVendaServlet</servlet-name>
        <servlet-class>servlet.CadastroProdutoVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>servlet.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUnidadesServlet</servlet-name>
        <servlet-class>servlet.ListarUnidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>servlet.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionarioServlet</servlet-name>
        <servlet-class>servlet.ListarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoVendaServlet</servlet-name>
        <servlet-class>servlet.ListarProdutoVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUnidadeServlet</servlet-name>
        <servlet-class>servlet.EditarUnidadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>servlet.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarFuncionarioServlet</servlet-name>
        <servlet-class>servlet.EditarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClienteServlet</servlet-name>
        <servlet-class>servlet.EditarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUnidadeServlet</servlet-name>
        <servlet-class>servlet.DeletarUnidadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <servlet-class>servlet.DeletarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <servlet-class>servlet.DeletarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarFuncionarioServlet</servlet-name>
        <servlet-class>servlet.DeletarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <url-pattern>/CadastroClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <url-pattern>/CadastroProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroUnidadeServlet</servlet-name>
        <url-pattern>/CadastroUnidadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroFuncionarioServlet</servlet-name>
        <url-pattern>/CadastroFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProdutoVendaServlet</servlet-name>
        <url-pattern>/CadastroProdutoVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUnidadesServlet</servlet-name>
        <url-pattern>/ListarUnidadesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionarioServlet</servlet-name>
        <url-pattern>/ListarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoVendaServlet</servlet-name>
        <url-pattern>/ListarProdutoVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUnidadeServlet</servlet-name>
        <url-pattern>/EditarUnidadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClienteServlet</servlet-name>
        <url-pattern>/EditarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/EditarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarFuncionarioServlet</servlet-name>
        <url-pattern>/EditarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUnidadeServlet</servlet-name>
        <url-pattern>/DeletarUnidadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarClienteServlet</servlet-name>
        <url-pattern>/DeletarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <url-pattern>/DeletarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarFuncionarioServlet</servlet-name>
        <url-pattern>/DeletarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
        <!-- /src/main/webapp/erro.jsp-->
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/notfound.jsp</location>
        <!-- /src/main/webapp/notfound.jsp-->
    </error-page>
</web-app>
